body,html{
	display: flex;
	align-items: center;
	flex-flow: column;
	margin: 0px;
	padding: 0px;
	width: 100vw;
	height: 100vh;
	font-family: Arial, sans-serif;
	background-color: rgb(245, 245, 245);
}
p{
	margin: 0px;
	font-family: sans-serif;
	width: 80%;
	padding: 1em;
	text-align: justify;
  	text-justify: inter-word;
}
.filler{
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0);
	overflow: hidden;
}
.template{
	display: none;
}
.game-settings{
	background-color: rgb(240,240,240);
}
.game-contents{

}
.hidden{
	display: none;
}
